extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  .product-detail
    .container.my-5
      button(
        class = "btn btn-secondary"
        button-go-back
      ) Trở lại
      .row 
        .col-4
          .inner-thumb
            img.img-fluid(
              src = product.thumbnail 
              alt = product.title
            )
        .col-7 
          h1(class="inner-title") #{product.title}
          if(product.category)
            div(class = "inner-category") 
              span Danh mục: 
              a(href=`/products/${product.category.slug}`) #{product.category.title}
      
          if product.price && !product.discountPercentage
            div(class="inner-price-new") Giá: #{product.price.toLocaleString("vi-VN")} đ

          if product.price && product.discountPercentage
            div(class="inner-price-old") Giá: #{product.price.toLocaleString("vi-VN")} đ
            div(class="inner-price-new") Giá mới: #{product.priceNew.toLocaleString("vi-VN")} đ
            div(class="inner-percent") Giảm tới: <span>#{product.discountPercentage}%</span>

          
          if(product.stock)
            div(class = "inner-stock") Còn lại: <span>#{product.stock}</span> sản phẩm
          
          form(
            action=`/cart/add/${product.id}`
            method="POST"
          )
            label(for="quantity") Số lượng
            input(
              class = "form-control mb-2"
              style="width: 300px; height: 40px; border-radius: 5px; border: 1px solid #ccc;"
              id    = "quantity"
              type  = "number"
              name  = "quantity"
              value = "1"
              min   = "1"
              max   = product.stock
            )
            button(
              type  = "submit"
              class = "btn btn-success btn-block"
            ) Thêm vào giỏ hàng
    hr
    .container.my-5
      .row
        .col-12
          +box-head("Mô tả sản phẩm")
          .inner-desc !{product.description}