mixin select-tree(records, level = "-- ", parent_id ="")
  if (records)
    for item in records
      option(
        value=item._id
        selected = item.id == parent_id
      ) #{level} #{item.title}
      +select-tree(item.children, level + "-- ", parent_id)

//- Một cách làm khác
//- mixin select-tree(items, level = 1)
//-   each item in items
//-     - const prefix = Array(level +1 ).join("-- ")
//-     option(value = item.id) #{prefix}#{item.title} 
//-       if item.children && item.children.length > 0
//-         +select-tree(item.children, level + 1)
