mixin pagination(pagination)
  nav.nav.justify-content-center
    ul(
      class="pagination"
    )
      if(pagination)
        if (pagination.currentPage > 1)
          li(class="page-item")
            button(
              class="page-link"
              button-pagination=1
            ) Trang đầu
          
          li(class="page-item")
            button(
              class="page-link"
              button-pagination=pagination.currentPage - 1
            ) Trang trước
        
        if (pagination.currentPage - 1 > 1)
          li(class="page-item")
            button(class="page-link") ...
          
        - for (var i = pagination.currentPage - 1; i <= pagination.currentPage + 1; i++)
          if (i > 0 && i <= pagination.totalPage)
            li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
              button(
                class="page-link"
                button-pagination=i
              ) #{i}
          
        if (pagination.currentPage + 1 < pagination.totalPage)
          li(class="page-item")
            button(class="page-link") ...
          
        if (pagination.currentPage < pagination.totalPage)
          li(class="page-item")
            button(
              class="page-link"
              button-pagination=pagination.currentPage + 1
            ) Kế tiếp
          
          li(class="page-item")
            button(
              class="page-link"
              button-pagination=pagination.totalPage
            ) Trang cuối
